    <!--<div class="search-container">
    <i class="bi bi-search search-icon"></i> 
    <input type="text" placeholder="Search..." class="search-input">
  </div>
  
  <app-left-bar></app-left-bar>
  <app-right-bar></app-right-bar>
  <app-background></app-background>
  <img src="assets/LogoINSOMEA.png" alt="" class="logo">-->
  

  <app-background></app-background> <!-- Composant pour l'arrière-plan -->
  <app-right-bar></app-right-bar> <!-- Composant pour la barre latérale droite -->
  <app-left-bar></app-left-bar>  <!-- Composant pour la barre latérale gauche -->
  <div class="header-bar"></div>
  <router-outlet></router-outlet> <!-- Composant pour afficher le contenu dynamique -->

   
  <!-- Lien vers le site INSOMEA  -->
  <a href="https://insomea.com/">
    <img src="assets/LogoINSOMEA.png" alt="Logo INSOMEA" class="logo"></a>
