/* Barre latérale gauche */
.leftbar {
  background-color: rgba(255, 255, 255, 0.5); 
  border-right: 3px solid rgba(255, 255, 255, 1); 
  color: #ffffff; 
  width: 15%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding:2%;
  padding-top: 10%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 100%;
  font-weight: bold;
  max-height: 100%;
  font-family: 'Roboto', sans-serif;

}

.horizontal-container1 {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    background-color: #efefef09; 
    padding: 5px; 
    margin: 15px 0; 
    border-radius: 40px; 
    width: 70%;
    height: 4%;
    padding: 10px; 
    margin: 10px 0; 
  }




  

  .horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    background-color: #EFEFEF; 
    padding: 5px; 
    margin: 15px 0; 
    border-radius: 40px; 
    width: 70%;
    height: 4%;
    padding: 10px; 
    margin: 10px 0; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
  }

  .leftbar img {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 15%;
  margin-right:5%; 

  }

  .leftbar a {
    color: #1B6182; 
    text-decoration: none; 
    font-size: 16px;
  }


  .sidebar a:hover {
    background-color: #575757; 
    color: #f1faee; 
  }

  .menu-btn {
    display: none;
    position: fixed;
    top: 10px; 
    left: 10px; 
    z-index: 100;
    background-color: #ffffff00; 
    color: #1B6182; 
    border: 1px solid transparent; 
    cursor: pointer;
    padding: 5px 10px; 
    font-size: 16px;
    border-radius: 5px; 
  }
/* Médias query pour les écrans de taille inférieure à 992px */
  @media (max-width: 992px) { 
    .leftbar {
      width: 50%;
      display: none; 
      background-color: white; 
      
    }
    .menu-btn {
     
      display: block;
    }
   
  }
  
  /* Médias query pour les écrans de taille inférieure à 768px */
  @media (max-width: 768px) { 
    .leftbar {
      width: 40%; 
      display: none; 
      background-color: white; 
    }
    .leftbar.active {
      display: flex; 
    }
    .menu-btn {
      
      display: block;
    }
  }
  
/* Médias query pour les écrans de taille inférieure à 683px */
  @media (max-width: 683px) { 
    .leftbar {
      width: 50%; 
      display: none; 
      background-color: white; 
    }
    .leftbar.active {
      display: flex;
    }
    .menu-btn {
      
      display: block;
    }
  }
