
.centered-rectangle {
  width: 55%; 
  height: 75%; 
  background-color: rgba(255, 255, 255, 0.53); 
  position: fixed;
  top: 50%; 
  left: 50%; 
  z-index: 40;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  border-radius: 30px; 
  border: 2px solid rgb(255, 255, 255);
}

.msg {
  position: absolute;
  text-align: center;
  font-weight: bold;
  color: #1B6182;
  text-shadow: #333;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5vh;
}

.bi-emoji-frown{
  position: absolute;
  text-align: center;
  align-items: center;
  font-weight: bold;
  color: #1B6182;
  text-shadow: #333;
  z-index: 10;
  left: 46%;
  top:20%;
  font-size: 8vh;

}


.centered-rectangle {
  width: 55%; 
  height: 75%; 
  background-color: rgba(255, 255, 255, 0.53); 
  position: fixed;
  top: 50%; 
  left: 50%; 
  z-index: 40;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  border-radius: 30px; 
  border: 2px solid rgb(255, 255, 255);

  
}
  .error-message {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  3vh;
  }

   .bi-exclamation-triangle-fill{
    position: absolute;
    top:30%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    left: 46%;
   
    font-size: 8vh;

  }

  .centered-rectangle1 {
    width: 55%; 
    height: 75%; 
    background-color: rgba(255, 255, 255, 0.53); 
    position: fixed;
    top: 50%; 
    left: 50%; 
    z-index: 40;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    border-radius: 30px; 
    border: 2px solid rgb(255, 255, 255);

  }
  .centered-rectangleloading {
    display: flex; /* Ajouté pour utiliser Flexbox */
    justify-content: center; /* Centre horizontalement les éléments enfants */
    align-items: center; /* Centre verticalement les éléments enfants */
    width: 55%; 
    height: 75%; 
    background-color: rgba(255, 255, 255, 0.53); 
    position: fixed;
    top: 50%; 
    left: 50%; 
    z-index: 40;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    border-radius: 30px; 
    border: 2px solid rgb(255, 255, 255);
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #1B6182; 
    border-radius: 50%;
    width: 60px; 
    height: 60px; 
    animation: spin 2s linear infinite;
}

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* Style pour le conteneur du message */
  .RectangleMsg {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: #1B6182;
    font-weight: bold;
    width: 70%;
    height: 5%;
    background-color: white;
    border-radius: 40px;
    padding: 1%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 30;
  }


  

  .titre1 {

    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
  }

  .rectangle1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    font-size: 100%;
    width: 25%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1B6182;
  }
  
  .rectangle1 img {
    width: 20%; 
    margin-top: 10%;
    margin-bottom: 15%;
    align-self: center;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    font-family: 'Roboto', sans-serif;
  }

  .rectangle1 button {
    width: 55%;
    height: 20%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }
  .rectangle1 button:hover {
    background-color: #2a779a;
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  
  }




  .rectangle2 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    font-size: 100%;
    position: absolute;
    text-align: center;
    color: #1B6182;
  }
  
  .rectangle2 img {
    width: 20%; 
    margin-top: 10%; 
    margin-bottom: 15%;
    align-self: center; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
  }
  

  .rectangle2 button {
    width: 55%;
    height: 20%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 

  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  
  }


  .rectangle2 button:hover {
    background-color: #2a779a;
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  
  }
  .rectangle2-1 {
    width: 25%; 
    height: 50%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 30%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    
  }

  .rectangle2-2 {
    width: 25%; 
    height: 50%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 70%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;


  }


  .titre2 {
    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;

  }

/*historique 2 abonnements*/
.rectangle2 .show-button {
  width: 55%;
  height: 12%;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  background-color: #1B6182; 

color: white;
border: none;
border-radius: 5px;
padding: 10px 20px; 
cursor: pointer; 
position: absolute; 
top: 62%; 
left: 50%;
transform: translateX(-50%);
transition: all 0.3s ease;
text-align: center;
}

.rectangle2 .historique-button {
  width: 55%;
  height: 12%;
  font-size: 90%;
  font-weight: bold;
  background-color: #1B6182; /* Couleur différente pour distinguer */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute; 
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%);
}

.rectangle2 .show-button:hover, .rectangle2 .historique-button:hover {
  background-color: #2a779a;
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
}

/*historique 3 abonnements */


.rectangle3 .show-button {
  width: 55%;
  height: 12%;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  background-color: #1B6182; 

color: white;
border: none;
border-radius: 5px;
padding: 10px 20px; 
cursor: pointer; 
position: absolute; 
top: 62%; 
left: 50%;
transform: translateX(-50%);
transition: all 0.3s ease;
text-align: center;
}

.rectangle3 .historique-button {
  width: 55%;
  height: 12%;
  font-size: 90%;
  font-weight: bold;
  background-color: #1B6182; /* Couleur différente pour distinguer */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute; 
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%);
}

.rectangle3 .show-button:hover, .rectangle3 .historique-button:hover {
  background-color: #2a779a;
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
}

/* historique 1 abonnements */

.rectangle1 .show-button {
  width: 55%;
  height: 12%;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  background-color: #1B6182; 

color: white;
border: none;
border-radius: 5px;
padding: 10px 20px; 
cursor: pointer; 
position: absolute; 
top: 62%; 
left: 50%;
transform: translateX(-50%);
transition: all 0.3s ease;
text-align: center;
}

.rectangle1 .historique-button {
  width: 55%;
  height: 12%;
  font-size: 90%;
  font-weight: bold;
  background-color: #1B6182; /* Couleur différente pour distinguer */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute; 
  bottom: 10%; 
  left: 50%;
  transform: translateX(-50%);
}

.rectangle1 .show-button:hover, .rectangle3 .historique-button:hover {
  background-color: #2a779a;
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
}


















  .rectangle3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    position: absolute;
    font-size: 100%;
    text-align: center;
    color: #1B6182;
  }
  
  .rectangle3 img {
    width: 20%; 
    margin-top: 12%; 
    margin-bottom: 15%;
    align-self: center; 
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
  }
  .rectangle3 button {
    width: 55%;
    height: 20%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }

  
  .rectangle3 button:hover {
    background-color: #2a779a;
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  
  }

  .rectangle3-1 {
    width: 25%; 
    height: 48%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 20%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  }
 

  .rectangle3-2 {
    width: 25%; 
    height: 48%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
  .rectangle3-3 {
    width: 25%; 
    height: 48%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 80%; 
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
 
  .titre3 {
    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;

  }


  .left {
    position: absolute;
    top: 50%; 
    left: 2%; 
    transform: translateY(-50%); 
    background-color: transparent;
   border: none;
  } 

.right {
    position: absolute;
    top: 50%; 
    right: 2%; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
  }

  .left .bi, .right .bi {
    color: #ffffff;
    font-size: 1.5vw;
    cursor: pointer;
  }


@media only screen and (max-width: 320px) {
  .error-message {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  3vh;
  }

   .bi-exclamation-triangle-fill{
    position: absolute;
    top:30%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    left: 40%;
    font-size: 8vh;

  }
 .centered-rectangle {
    background-color:transparent;
    border: 0px solid;
    width: 75%;
  }
  .msg {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
  }
  
  .bi-emoji-frown{
    position: absolute;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    left: 50%;
    top:20%;
    font-size: 4vh;
  
  }
 
  .rectangle2-1 {
    width: 90%; 
    height:15%; 
    background-color: white; 
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    
  }

  .rectangle2-2 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
  .content {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0; /* Aucun margin externe pour maximiser l'espace interne */
  }

  .rectangle2 img {
    display: none;
  }

  .rectangle2 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 

  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  
  }
  .titre2 {
    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #333;
    z-index: 10;

  }

  /* Style pour le conteneur du message */
  .RectangleMsg {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: #1B6182;
    font-weight: bold;
    font-size:10px;
    width: 90%;
    height: 5%;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 30;
  }

  .rectangle3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    position: absolute;
    font-size: 100%;
    text-align: center;
    color: #1B6182;
  }
  
  .rectangle3 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0%;
    font-size: 10px;
  }
  .rectangle3 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }

  


  .rectangle3-1 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  }
  .rectangle1 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
 

  .rectangle3-2 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
  .rectangle3-3 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
 
  .titre3 {
    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #333;
    z-index: 10;

  }
  

  .titre1 {

    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #333;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
  }

  .rectangle1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    font-size: 100%;
    width: 90%;
    height: 15%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1B6182;
  }
  
  .rectangle1 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-size: 10px;
  }
  .rectangle1 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }

  .rectangle2 .show-button {
  width: 40%;
  height: 15%;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  background-color: #1B6182; 

color: white;
border: none;
border-radius: 5px;
padding: 10px 20px; 
cursor: pointer; 
position: absolute; 
top: 62%; 
left: 27%;
transform: translateX(-50%);
transition: all 0.3s ease;
text-align: center;
}

.rectangle2 .historique-button {
  width: 40%;
  height: 15%;
  font-size: 90%;
  font-weight: bold;
  background-color: #1B6182; /* Couleur différente pour distinguer */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute; 
  bottom: 10%; 
  left: 72%;
  transform: translateX(-50%);
}
  
.rectangle3 .show-button {
  width: 40%;
  height: 15%;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  background-color: #1B6182; 

color: white;
border: none;
border-radius: 5px;
padding: 10px 20px; 
cursor: pointer; 
position: absolute; 
top: 62%; 
left: 27%;
transform: translateX(-50%);
transition: all 0.3s ease;
text-align: center;
}

.rectangle3 .historique-button {
  width: 40%;
  height: 15%;
  font-size: 90%;
  font-weight: bold;
  background-color: #1B6182; /* Couleur différente pour distinguer */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute; 
  bottom: 10%; 
  left: 72%;
  transform: translateX(-50%);
}

.rectangle1 .show-button {
  width: 40%;
  height: 15%;
  font-size: 90%;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  background-color: #1B6182; 

color: white;
border: none;
border-radius: 5px;
padding: 10px 20px; 
cursor: pointer; 
position: absolute; 
top: 62%; 
left: 27%;
transform: translateX(-50%);
transition: all 0.3s ease;
text-align: center;
}

.rectangle1 .historique-button {
  width: 40%;
  height: 15%;
  font-size: 90%;
  font-weight: bold;
  background-color: #1B6182; /* Couleur différente pour distinguer */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute; 
  bottom: 10%; 
  left: 72%;
  transform: translateX(-50%);
}
.centered-rectangleloading {
  background-color: transparent;
  border: none;
}
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .error-message {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 41%;
    transform: translate(-50%, -50%);
    font-size:  3vh;
  }

   .bi-exclamation-triangle-fill{
    position: absolute;
    top:30%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    left: 41%;
    font-size: 8vh;

  }
 .centered-rectangle {
    background-color:transparent;
    border: 0px solid;
    width: 75%;
  }
  .msg {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
  }
  
  .bi-emoji-frown{
    position: absolute;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    left: 50%;
    top:20%;
    font-size: 4vh;
  
  }
 
  .rectangle2-1 {
    width: 90%; 
    height:15%; 
    position: absolute;
    top: 35%; 
    left: 50%; 
    border-radius: 20px; 
   
    
  }

  .rectangle2-2 {
    width: 90%; 
    height: 15%; 
    position: absolute;
    top: 65%; 
    left: 50%; 
    border-radius: 20px; 


  }
  .content {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0; /* Aucun margin externe pour maximiser l'espace interne */
  }

  .rectangle2 img {
    display: none;
  }

  .rectangle2 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 

  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  
  }
  .titre2 {
    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #333;
    z-index: 10;

  }

  /* Style pour le conteneur du message */
  .RectangleMsg {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: #1B6182;
    font-weight: bold;
    font-size:10px;
    width: 90%;
    height: 5%;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 30;
  }

  .rectangle3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    position: absolute;
    font-size: 100%;
    text-align: center;
    color: #1B6182;
  }
  
  .rectangle3 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0%;
    font-size: 10px;
  }
  .rectangle3 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }

  


  .rectangle3-1 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 25%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  }
 

  .rectangle3-2 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
  .rectangle3-3 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 50;
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
 
  .titre3 {
    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #333;
    z-index: 10;

  }
  

  .titre1 {

    text-align: center;
    left: 38%;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #333;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
  }

  .rectangle1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    font-size: 100%;
    width: 90%;
    height: 15%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1B6182;
  }
  
  .rectangle1 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-size: 10px;
  }
  .rectangle1 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }
  .rectangle2 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle2 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 10%; 
    left: 72%;
    transform: translateX(-50%);
  }

  .rectangle3 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle3 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 10%; 
    left: 72%;
    transform: translateX(-50%);
  }

  .rectangle1 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle1 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 10%; 
    left: 72%;
    transform: translateX(-50%);
  }
  .centered-rectangleloading {
    background-color: transparent;
    border: none;
  }


}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .error-message {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  3vh;
  }

   .bi-exclamation-triangle-fill{
    position: absolute;
    top:30%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    left: 45%;
    font-size: 8vh;

  }
 .centered-rectangle {
    background-color:transparent;
    border: 0px solid;
    width: 75%;
  }
  .msg {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
  }
  
  .bi-emoji-frown{
    position: absolute;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    left: 50%;
    top:20%;
    font-size: 4vh;
  
  }
 
  .rectangle2-1 {
    width: 90%; 
    height:15%; 
    background-color: white; 
    position: absolute;
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    
  }

  .rectangle2-2 {
    width: 90%; 
    height: 15%; 
    background-color: white; 
    position: absolute;
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    text-align: center;

  }
  .content {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0; /* Aucun margin externe pour maximiser l'espace interne */
  }

  .rectangle2 img {
    display: none;
  }

  .rectangle2 button {
    width: 35%;
    height: 40%;

  
  }
  .titre2 {

    font-weight: bold;
    color: #ffffff;


  }

  /* Style pour le conteneur du message */
  .RectangleMsg {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: #1B6182;
    font-weight: bold;
    font-size:10px;
    width: 90%;
    height: 5%;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 30;
  }

  .rectangle3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    position: absolute;
    font-size: 100%;
    text-align: center;
    color: #1B6182;
  }
  
  .rectangle3 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0%;
    font-size: 10px;
  }
  .rectangle3 button {
    width: 35%;
    height: 40%;
  }

  


  .rectangle3-1 {
    width: 90%; 
    height: 15%; 
    top: 25%; 
    left: 50%; 
  }
 

  .rectangle3-2 {
    width: 90%; 
    height: 15%; 
    top: 50%; 
    left: 50%; 

  }
  .rectangle3-3 {
    width: 90%; 
    height: 15%; 
    top: 75%; 
    left: 50%; 
  }
 
  .titre3 {
    color: #ffffff;
  }
  

  .titre1 {

    color: #ffffff;
  }

  .rectangle1 {
    width: 90%;
    height: 15%;
    top: 50%;
    left: 50%;
  }
  
  .rectangle1 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-size: 10px;
  }
  .rectangle1 button {
    width: 35%;
    height: 40%;
  }

  .rectangle2 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle2 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 10%; 
    left: 72%;
    transform: translateX(-50%);
  }
  .rectangle3 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle3 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 10%; 
    left: 72%;
    transform: translateX(-50%);
  }

  .rectangle1 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle1 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 10%; 
    left: 72%;
    transform: translateX(-50%);
  }
  .centered-rectangleloading {
    background-color: transparent;
    border: none;
  }

}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .error-message {
    border-radius: 5px;
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:  3vh;
  }

   .bi-exclamation-triangle-fill{
    position: absolute;
    top:30%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: red;
    text-shadow: #333;
    z-index: 10;
    left: 46%;
    font-size: 8vh;

  }
 .centered-rectangle {
    background-color: transparent;
    border: 0px solid;
    width: 75%;
  }
  .centered-rectangleloading {
    background-color: transparent;
    border: none;
  }
  .msg {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vh;
  }
  
  .bi-emoji-frown{
    position: absolute;
    text-align: center;
    align-items: center;
    font-weight: bold;
    color: #1B6182;
    text-shadow: #333;
    z-index: 10;
    left: 50%;
    top:20%;
    font-size: 4vh;
  
  }
 
  .rectangle2-1 {
    width: 80%; 
    height:20%; 
    top: 35%; 
    left: 50%; 
    
  }

  .rectangle2-2 {
    width: 80%; 
    height: 20%; 
    top: 65%; 
    left: 50%; 
  }
  .content {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    margin: 0; /* Aucun margin externe pour maximiser l'espace interne */
  }

  .rectangle2 img {
    display: none;
  }

  .rectangle2 button {
    width: 35%;
    height: 40%;

  }
  .titre2 {
    color: #ffffff;
  }

  /* Style pour le conteneur du message */
  .RectangleMsg {
    position: absolute;
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    color: #1B6182;
    font-weight: bold;
    font-size:10px;
    width: 90%;
    height: 5%;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 30;
  }

  .rectangle3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
    position: absolute;
    font-size: 100%;
    text-align: center;
    color: #1B6182;
  }
  
  .rectangle3 img {
   display: none;
  }
  
  .content {
    font-size: 10px;
  }
  .rectangle3 button {
    width: 35%;
    height: 40%;
  }

  .rectangle3-1 {
    width: 80%; 
    height: 20%; 
    top: 25%; 
    left: 50%;  
  }
 

  .rectangle3-2 {
    width: 80%; 
    height: 20%; 
    top: 50%; 
    left: 50%; 
  }
  .rectangle3-3 {
    width: 80%; 
    height: 20%; 
    top: 75%; 
    left: 50%; 
  }
 
  .titre3 {
 
    font-weight: bold;
    color: #ffffff;
  

  }
  

  .titre1 {

    color: #ffffff;

  }

  .rectangle1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    text-align: center;
    font-size: 100%;
    width: 80%;
    height: 20%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #1B6182;
  }
  
  .rectangle1 img {
   display: none;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    font-size: 10px;
  }
  .rectangle1 button {
    width: 35%;
    height: 40%;
    font-size: 100%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 15%; 
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  }
  .rectangle2 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle2 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 15%; 
    left: 72%;
    transform: translateX(-50%);
    text-align: center;
  }
 

  .rectangle3 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle3 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 15%; 
    left: 72%;
    transform: translateX(-50%);
    text-align: center;
  }
  .rectangle1 .show-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    background-color: #1B6182; 
  
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  position: absolute; 
  bottom: 10%; 
  left: 27%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  text-align: center;
  }
  
  .rectangle1 .historique-button {
    width: 40%;
    height: 20%;
    font-size: 90%;
    font-weight: bold;
    background-color: #1B6182; /* Couleur différente pour distinguer */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute; 
    bottom: 15%; 
    left: 72%;
    transform: translateX(-50%);
    text-align: center;
  }

}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .centered-rectangle , .centered-rectangle1  {
    width: 90%; 
    height: 75%; 
    background-color: rgba(255, 255, 255, 0.53); 
    position: fixed;
    top: 50%; 
    left: 50%; 
    z-index: 40;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    border-radius: 30px; 
    border: 2px solid rgb(255, 255, 255);
  }
  .centered-rectangleloading {
    background-color: transparent;
    border: none;
  }

  
}

