 <!-- Titre de la page -->
<title>Processing</title>
<style>
    /* Styles pour le conteneur principal */
  div {
    display: flex; /* Utilisation du modèle de boîte flexible */
    justify-content: center; /* Centrage horizontal */
    align-items: center; /* Centrage vertical */ 
    height: 100vh; /* Utilisation de 100% de la hauteur de la vue */
    font-family: Arial, sans-serif; /* Police de caractères */
  }
</style>
<div>
     <!-- Animation de chargement -->
  <div class="loader"></div>
  <!-- Titre "Processing" -->
    <h1>
        Processing
    </h1>
</div>