/* Styles généraux pour le corps de la page */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; 
  max-width: 100%;
  max-height: 100%;

}
/* Styles pour l'arrière-plan flou */
.blurbackground {
  width: 100vw; /* Utilisation de viewport width pour couvrir toute la largeur de la vue */
  height: 100vh; /* Utilisation de viewport height pour couvrir toute la hauteur de la vue */
  position: fixed;
  top: 0; /* Fixé en haut de la page */
  left: 0; /* Fixé à gauche de la page */
  background-image: linear-gradient(to right, #00a3ef64, #14d0d06b); /* Dégradé de bleu à vert */
  background-size: cover; /* S'assure que le fond couvre entièrement l'espace disponible */
  background-position: center; /* Centre le fond */
}
.login-box h2{
  position: absolute;
  text-align: left;
  font-size: 2vh; /* Taille de police du titre */
  color: #444444; /* Couleur du texte */
  left: 12%;
  bottom: 10%;
  
}
/* Styles pour positionner l'image de connexion à droite de l'écran */
/* Styles pour positionner l'image de connexion à droite de l'écran */
.loginimg {
  position: absolute;
  left: 10%; /* Ajusté pour ne pas coller totalement à droite */
  top: 17%; /* Ajusté pour ne pas coller totalement en bas */
  width: 30%; /* Largeur réduite à 30% de la largeur du viewport */
  max-width: 100px; /* Largeur maximale pour éviter que l'image soit trop grande */
  height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
  
}
.loginimg1 {
  position: absolute;
  left: 10%; /* Ajusté pour ne pas coller totalement à droite */
  top: 28%; /* Ajusté pour ne pas coller totalement en bas */
  width: 30%; /* Largeur réduite à 30% de la largeur du viewport */
  max-width: 320px; /* Largeur maximale pour éviter que l'image soit trop grande */
  height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
  
}




/* Styles pour le logo INSOMEA à gauche */
.logo {
  position: absolute;
  top: 13%; /* Positionné en bas avec un décalage de 5% */
  width: 20%; /* Largeur fixe de 20% du viewport */
  height: auto; /* Hauteur ajustée automatiquement */
  z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
  left: 16%; /* Décalé de 10% à partir de la gauche du viewport */
}

/* Styles pour le logo1 à droite */
.logo1 {
  position: absolute;
  bottom: 0%; /* Positionné en bas avec un décalage de 5% */
  width: 20%; /* Largeur fixe de 20% du viewport */
  height: auto; /* Hauteur ajustée automatiquement */
  z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
  right: 15%; /* Décalé de 10% à partir de la droite du viewport */
}

.login-box {
  position: absolute;
  width: 60%; 
  height: 75%;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to right, #ffffff6f, #ffffff);
  border: 3px solid rgb(255, 255, 255);
  box-sizing: border-box; 
  padding: 20px; 
  text-align: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
}
.login-box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px; /* Épaisseur du trait */
  height: 100%; /* Hauteur égale à celle de .login-box */
  background-color: rgba(0, 0, 0, 0.1); /* Couleur du trait, ajustez l'opacité selon le besoin */
}
.login-box h1 {
  color: #1B6182;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  font-size: 4vw; /* Taille de police adaptative selon la largeur de la fenêtre */
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 15%;
  position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
  left:25%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
}


.login-button {
  background-color: #1B6182;
  display: flex;
  right: 11%; /* Décalage à droite augmenté de 10% à 20% */
  top: 41%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
  margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
  border-radius: 8px; /* Coins plus arrondis pour un look moderne */
  width: 30%; /* Augmentation de la largeur */
  height: 12%; /* Augmentation de la hauteur */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
  transition: all 0.3s ease; /* Transitions douces pour tous les effets */
  font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
  font-size: 18px; /* Taille de police lisible */
  font-weight: bold; /* Texte en gras pour une meilleure visibilité */
  letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
  color: #ffffff;
  cursor: pointer; 
  position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
  box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
}


.login-button img {
  margin-right: 10px; 
}
.login-button:hover {
  background-color: #2a779a;
  transform: scale(1.05); /* Agrandissement léger */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
}
.error-message {
  color: red; 
  
  font-size: 10vh; 
  margin-top: 10%; 
  width: 100%; 
  padding:  5%; 
  z-index: 500;
}


@media only screen and (max-width: 320px)  {
  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 2vh; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 12%;
    top:  25%;
    white-space: nowrap; /* Empêche le passage à la ligne */
    overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
    max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  .loginimg {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */  
  }
  .loginimg1 {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */ 
  }
  

  
  
  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    top: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 35%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 34%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 45%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 30%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    display: flex;  /* Utilise Flexbox pour le positionnement */
    flex-direction: column;  /* Les enfants (comme h2) sont disposés en colonne */
    align-items: center;  /* Centre les enfants horizontalement */
    justify-content: center;  /* Centre les enfants verticalement */
    position: absolute;
    width: 70%; 
    height: 85%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff9b, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   
    background-color:transparent;
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 5vh; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
    margin-top: 85%;
    margin-bottom: 85%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:2.5%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
   
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 17%; /* Décalage à droite augmenté de 10% à 20% */
    top: 55%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 65%; /* Augmentation de la largeur */
    height: 10%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 2vh; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }
 

  
}
@media only screen and (min-width: 321px) and (max-width: 480px) {

  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 2vh; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 12%;
    top:  25%;
   
    margin: 0 auto; /* Centrage automatique du titre avec marges automatiques */
    padding: 0;
    white-space: nowrap; /* Empêche le passage à la ligne */
    overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
    max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  .loginimg {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */  
  }
  .loginimg1 {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */ 
  }
  

  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    top: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 45%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 28%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 40%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 30%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    display: flex;  /* Utilise Flexbox pour le positionnement */
    flex-direction: column;  /* Les enfants (comme h2) sont disposés en colonne */
    align-items: center;  /* Centre les enfants horizontalement */
    justify-content: center;  /* Centre les enfants verticalement */
    position: absolute;
    width: 70%; 
    height: 85%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff9b, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   
    background-color:transparent;
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 5vh; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
  top: 0%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:2.5%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
   
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 17%; /* Décalage à droite augmenté de 10% à 20% */
    top: 55%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 65%; /* Augmentation de la largeur */
    height: 10%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 1.3vh; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }


}
@media only screen and (min-width: 481px) and (max-width: 600px)  {


  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 2vh; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 20%;
    top:  25%;
    white-space: nowrap; /* Empêche le passage à la ligne */
    overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
    max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  .loginimg {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */  
  }
  .loginimg1 {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */ 
  }
  
  
  /* Styles pour le logo INSOMEA */
  .logo {
    position: absolute;
    left: 3%;
    top: 15%;
    width: 80%; 
    height: auto; 
    z-index: 50;
  
  }
  
  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    top: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 45%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 30%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 40%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 30%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    display: flex;  /* Utilise Flexbox pour le positionnement */
    flex-direction: column;  /* Les enfants (comme h2) sont disposés en colonne */
    align-items: center;  /* Centre les enfants horizontalement */
    justify-content: center;  /* Centre les enfants verticalement */
    position: absolute;
    width: 70%; 
    height: 85%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff9b, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   
    background-color:transparent;
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 5vh; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
  top: 0%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:2.5%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
   
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 17%; /* Décalage à droite augmenté de 10% à 20% */
    top: 55%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 65%; /* Augmentation de la largeur */
    height: 10%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 1.4vh; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }


}
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 2vh; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 16%;
    top:  25%;
    white-space: nowrap; /* Empêche le passage à la ligne */
    overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
    max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  .loginimg {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */  
  }
  .loginimg1 {
    width: 0%; /* Largeur réduite à 30% de la largeur du viewport */ 
  }
  
  

  
  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    top: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 45%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 30%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 35%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 32%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    position: absolute;
    width: 75%; 
    height: 85%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff9b, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   
    background-color:transparent;
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 5vh; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
  top: 40%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:2.5%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
   
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 17%; /* Décalage à droite augmenté de 10% à 20% */
    top: 55%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 65%; /* Augmentation de la largeur */
    height: 10%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 1.8vh; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }



}
@media only screen and (min-width: 769px) and (max-width: 1024px)  {

  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 2.2vh; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 50%;
    top:  30%;
    transform: translateX(-50%); /* Décale le titre de 50% de sa propre largeur vers la gauche pour le centrer */
    margin: 0; /* Retire les marges par défaut pour éviter un décalage */
   padding: 0; /* Retire le padding par défaut */
   white-space: nowrap; /* Empêche le passage à la ligne */
   overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
   text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
   max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }

  
  

  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    top: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 25%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 39%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 25%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 35%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    position: absolute;
    width: 75%; 
    height: 85%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff9b, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   
    background-color:transparent;
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 7vh; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
    top:30%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:1%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
   
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 25%; /* Décalage à droite augmenté de 10% à 20% */
    top: 55%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 50%; /* Augmentation de la largeur */
    height: 10%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 2vh; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }
  .loginimg {
  width: 0%;  
}
.loginimg1 {
  width: 0%; 
}
 


}
@media only screen and (min-width: 1025px) and (max-width: 1280px)  {
  .blurbackground {
    width: 100vw; /* Utilisation de viewport width pour couvrir toute la largeur de la vue */
    height: 100vh; /* Utilisation de viewport height pour couvrir toute la hauteur de la vue */
    position: fixed;
    top: 0; /* Fixé en haut de la page */
    left: 0; /* Fixé à gauche de la page */
    background-image: linear-gradient(to right, #00a3ef64, #14d0d06b); /* Dégradé de bleu à vert */
    background-size: cover; /* S'assure que le fond couvre entièrement l'espace disponible */
    background-position: center; /* Centre le fond */
  }
  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 1.5vh; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 10%;
    bottom: 10%;
    white-space: nowrap; /* Empêche le passage à la ligne */
    overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
    max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  .loginimg {
    position: absolute;
    left: 10%; /* Ajusté pour ne pas coller totalement à droite */
    top: 17%; /* Ajusté pour ne pas coller totalement en bas */
    width: 30%; /* Largeur réduite à 30% de la largeur du viewport */
    max-width: 100px; /* Largeur maximale pour éviter que l'image soit trop grande */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
    
  }
  .loginimg1 {
    position: absolute;
    left: 8%; /* Ajusté pour ne pas coller totalement à droite */
    top: 30%; /* Ajusté pour ne pas coller totalement en bas */
    width: 40%; /* Largeur réduite à 30% de la largeur du viewport */
    max-width: 320px; /* Largeur maximale pour éviter que l'image soit trop grande */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
    
  }
  
  
  /* Styles pour le logo INSOMEA */
  .logo {
    position: absolute;
    left: 3%;
    top: 15%;
    width: 80%; 
    height: auto; 
    z-index: 50;
  
  }
  
  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    top: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 25%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 13%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 20%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 15%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    position: absolute;
    width: 70%; 
    height: 75%;
    margin: 0 auto;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff6f, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Épaisseur du trait */
    height: 100%; /* Hauteur égale à celle de .login-box */
    background-color: rgba(0, 0, 0, 0.1); /* Couleur du trait, ajustez l'opacité selon le besoin */
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 6vh; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 15%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:25%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 11%; /* Décalage à droite augmenté de 10% à 20% */
    top: 41%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 32%; /* Augmentation de la largeur */
    height: 11%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 1.5vh; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }
  



}

@media only screen and (max-width: 1921px)and(min-width: 1062px)  {

  .blurbackground {
    width: 100vw; /* Utilisation de viewport width pour couvrir toute la largeur de la vue */
    height: 100vh; /* Utilisation de viewport height pour couvrir toute la hauteur de la vue */
    position: fixed;
    top: 0; /* Fixé en haut de la page */
    left: 0; /* Fixé à gauche de la page */
    background-image: linear-gradient(to right, #00a3ef64, #14d0d06b); /* Dégradé de bleu à vert */
    background-size: cover; /* S'assure que le fond couvre entièrement l'espace disponible */
    background-position: center; /* Centre le fond */
  }
  .login-box h2{
    position: absolute;
    text-align: left;
    font-size: 1rem; /* Taille de police du titre */
    color: #444444; /* Couleur du texte */
    left: 25%;
    bottom: 10%;
    white-space: nowrap; /* Empêche le passage à la ligne */
    overflow: hidden; /* Cache tout contenu qui dépasse du conteneur */
    text-overflow: ellipsis; /* Ajoute des points de suspension si le texte est coupé */
    max-width: 76%; /* Ajustement pour ne pas déborder, en considérant le padding et le positionnement */
  }
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  /* Styles pour positionner l'image de connexion à droite de l'écran */
  .loginimg {
    position: absolute;
    left: 10%; /* Ajusté pour ne pas coller totalement à droite */
    top: 17%; /* Ajusté pour ne pas coller totalement en bas */
    width: 25%; /* Largeur réduite à 30% de la largeur du viewport */
    max-width: 100px; /* Largeur maximale pour éviter que l'image soit trop grande */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
    
  }
  .loginimg1 {
    position: absolute;
    left: 12%; /* Ajusté pour ne pas coller totalement à droite */
    top: 30%; /* Ajusté pour ne pas coller totalement en bas */
    width: 30%; /* Largeur réduite à 30% de la largeur du viewport */
    max-width: 320px; /* Largeur maximale pour éviter que l'image soit trop grande */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
    
  }
  
  

  
  /* Styles pour le logo INSOMEA à gauche */
  .logo {
    position: absolute;
    bottom: 10%; /* Positionné en bas avec un décalage de 5% */
    width: 12%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    left: 20%; /* Décalé de 10% à partir de la gauche du viewport */
  }
  
  /* Styles pour le logo1 à droite */
  .logo1 {
    position: absolute;
    bottom: 0%; /* Positionné en bas avec un décalage de 5% */
    width: 20%; /* Largeur fixe de 20% du viewport */
    height: auto; /* Hauteur ajustée automatiquement */
    z-index: 50; /* Assure que le logo est bien visible par dessus le fond */
    right: 15%; /* Décalé de 10% à partir de la droite du viewport */
  }
  
  .login-box {
    position: absolute;
    width: 60%; 
    height: 75%;
    margin: 0 auto;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right, #ffffff6f, #ffffff);
    border: 3px solid rgb(255, 255, 255);
    box-sizing: border-box; 
    padding: 20px; 
    text-align: center;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Ajoute une ombre avec une opacité de 50% */
  }
  .login-box:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px; /* Épaisseur du trait */
    height: 100%; /* Hauteur égale à celle de .login-box */
    background-color: rgba(0, 0, 0, 0.1); /* Couleur du trait, ajustez l'opacité selon le besoin */
  }
  .login-box h1 {
    color: #1B6182;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    font-size: 4vw; /* Taille de police adaptative selon la largeur de la fenêtre */
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 15%;
    position: relative; /* Position relative pour décaler par rapport à son emplacement normal */
    left:25%; /* Décalage vers la droite; ajustez cette valeur selon vos besoins */
  }
  
  
  .login-button {
    background-color: #1B6182;
    display: flex;
    right: 11%; /* Décalage à droite augmenté de 10% à 20% */
    top: 41%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;  /* Augmentation du padding pour un bouton plus grand */
    margin: 20px 0 20px 20px; /* Ajustement des marges pour une meilleure présentation */
    border-radius: 8px; /* Coins plus arrondis pour un look moderne */
    width: 30%; /* Augmentation de la largeur */
    height: 12%; /* Augmentation de la hauteur */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Ombre légère pour le relief */
    transition: all 0.3s ease; /* Transitions douces pour tous les effets */
    font-family: 'Roboto', sans-serif; /* Police sans-serif moderne */
    font-size: 18px; /* Taille de police lisible */
    font-weight: bold; /* Texte en gras pour une meilleure visibilité */
    letter-spacing: 0.5px; /* Espacement des lettres légèrement augmenté */
    color: #ffffff;
    cursor: pointer; 
    position: absolute; /* Assurez-vous que cette ligne est ajoutée si elle n'est pas déjà là */
    box-shadow: 0 6px 12px rgba(50, 50, 50, 0.5);
  }
  
  
  .login-button img {
    margin-right: 10px; 
  }
  .login-button:hover {
    background-color: #2a779a;
    transform: scale(1.05); /* Agrandissement léger */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre pour la profondeur */
  }
  .error-message {
    color: red; 
    text-align: center;
    font-size: 2.5vh; 
    margin-top: 10%; 
    width: 100%; 
    padding:  5%; 
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden; 
  }




}