<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Azure Resource Visualizer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">



     <div class="blurbackground">
    <div class="login-box">
      <h2>Discover Azure Resource Visualizer</h2>
      <h1>Login</h1>
      <img src="assets/Cloud.png" alt="" class="loginimg">
      <img src="assets/Key-pana.png" alt="" class="loginimg1">
        <!-- Bouton de connexion avec le logo Microsoft -->
        <button class="login-button" (click)="signIn()" >
          <img src="assets/microsoftlogo.png" alt="Logo" style="height: 24px; width: auto;"> 
          Connect with Microsoft
        </button>
        <a href="https://insomea.com/">
          <img src="assets/LogoINSOMEA.png" alt="Logo INSOMEA" class="logo">
        </a>
          <img src="assets/logo1.png" alt="Logo Application" class="logo1">
        <!-- Message d'erreur en cas d'erreur de connexion -->
        <p class="error-message" *ngIf="ErrorMessage">An error occured during the connection. Please try again. </p> 
    </div>
</div>